node_modules/
dist/
coverage/
coverage/clover.xml
coverage/lcov-report/index.html
globalConfig.json
coverage/coverage-final.json
coverage/lcov.info
data
!src/data
.husky/

coverage/coverage-final.json
coverage/lcov.info
